<!-- task-list.component.html -->
 <app-task>
<div>
    <button (click)="changeFilter('All')">All</button>
    <button (click)="changeFilter('Completed')">Completed</button>
    <button (click)="changeFilter('Pending')">Pending</button>

    <ul>
        @for (task of tasks(); track $index) {
            <li>
              {{ task.title }} - {{ task.completed ? 'Completed' : 'Pending' }} - {{task.priority}}
              <button (click)="editHandler(task.title)">Edit</button>
            </li>
        }

        @if (isEditing) {
          <input type="text" [(ngModel)]="editedTitle">
          <button (click)="submitHandler(editedTitle())">
            Submit
          </button>
        }
    </ul>
  </div>
</app-task>
